*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-image: url('./images/banner/banner1.png');
    width: 100%;
    height: 700px;
    background-size: cover;
   
}
.container{
padding: 200px 250px;
 text-align: right;
 position: right;
 justify-content: right;
 
}

.header-title{
padding-left: 50%;
 font-size: 50px;
 font-weight: 700;
margin-bottom: 20px;
}
.header-desc{
    padding-left: 50%;
    font-size: 18px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(126, 122, 122);
}
.btn-primary{
 background-color: rgb(238, 96, 96);
 width: 120px;
 height: 60px;
 font-size: 20px;
 border-radius: 5px;
 color: white;
}

/* banner area start */
.banner{
   display: flex;
}

.banner-identity{
    padding: 200px 200px 30px;
}
.banner-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;

}
.banner-desc{
    font-size: 16px;
    color: rgb(119, 114, 114);
    margin-bottom: 15px;
}
.banner-icons i, span {
    font-size: 16px;
    color: rgb(143, 136, 136);
    margin-bottom: 10px;
}
.banner-icons i{
    color: rgb(84, 155, 13);
    padding-right: 10px;
}
.banner-img span{
    font-weight: 400;
}

 /* logo-area Start  */
 .logo{
    text-align: center;
    padding-top: 30px;
 }
 .logo h2{
    font-size: 40px;
    font-weight: 700;
 }
 .logo-area{
    display: flex;
    margin-left: 100px;
    padding: 20px;
    }
 .logo-desc{
    margin: 20px 60px 20px;
 }
 .logo-desc h3{
    font-size: 25px;
    font-weight: 700;
 }
 .logo-desc img{
    width: 60px;
    height: 60px;
 }
 .logo-desc h6{
    font-size: 16px;
    color: rgb(143, 137, 137);
 }

 .bg-gradient{
    margin:100px 230px 100px;
    width: 65%;
  height: 250px;
  /* background-image:url('./images/watch.png'), linear-gradient( to right, rgba(30, 75, 115, 1), rgba(184, 95, 95, 0)); */
  background-image:linear-gradient(to right, rgb(125, 63, 184), rgb(204, 106, 147), rgb(166, 209, 184));
  background-repeat: no-repeat, no-repeat, no-repeat;
  position: absolute;
  border-radius: 10px;  
  position: absolute;
 }
 .bg-gradient h3{
    position: relative;
    text-align:left ;
    padding-top: 60px ; 
    padding-left: 50px;
    padding-right: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
 }

 .bg-gradient button{
    height: 40px;
   width: 110px;
   color: coral; 
  margin:20px 50px;
  font-size: 18px;
  font-weight: 500;
 }