*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.items{
    display: flex;
}
.item img{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 50%;
    background-color:rgb(146, 139, 139) ;
}
nav {
    display: flex;
    justify-content: space-between;
   padding: 10px 60px 20px 10px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}
nav ul li a{
    color: #791668;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

header{
    background-image: url('./images/banner/banner1.png');
    width: 100%;
    height: 700px;
    background-size: cover;
   
}
.container{
padding: 50px 250px;
 text-align: right;
 position: right;
 justify-content: right;
 
}

.header-title{
padding-left: 50%;
 font-size: 50px;
 font-weight: 700;
margin-bottom: 20px;
}
.header-desc{
    padding-left: 50%;
    font-size: 18px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(126, 122, 122);
}
.btn-primary{
 background-color: rgb(238, 96, 96);
 width: 120px;
 height: 60px;
 font-size: 20px;
 border-radius: 5px;
 color: white;
}

/* banner area start */
.banner{
   display: flex;
}

.banner-identity{
    padding: 200px 200px 30px;
}
.banner-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;

}
.banner-desc{
    font-size: 16px;
    color: rgb(119, 114, 114);
    margin-bottom: 15px;
}
.banner-icons i, span {
    font-size: 16px;
    color: rgb(143, 136, 136);
    margin-bottom: 10px;
}
.banner-icons i{
    color: rgb(84, 155, 13);
    padding-right: 10px;
}
.banner-img span{
    font-weight: 400;
}

 /* logo-area Start  */
 .logo{
    text-align: center;
    padding-top: 30px;
 }
 .logo h2{
    font-size: 40px;
    font-weight: 700;
 }
 .logo-area{
    display: flex;
    margin-left: 100px;
    padding: 20px;
    }
 .logo-desc{
    margin: 20px 60px 20px;
 }
 .logo-desc h3{
    font-size: 25px;
    font-weight: 700;
 }
 .logo-desc img{
    width: 60px;
    height: 60px;
 }
 .logo-desc h6{
    font-size: 16px;
    color: rgb(143, 137, 137);
 }

 .bg-gradient{
    margin:100px 230px 100px;
    width: 65%;
  height: 250px;
  /* background-image:url('./images/watch.png'), linear-gradient( to right, rgba(30, 75, 115, 1), rgba(184, 95, 95, 0)); */
  background-image:linear-gradient(to right, rgb(125, 63, 184), rgb(204, 106, 147), rgb(166, 209, 184));
 
  border-radius: 10px;  
 }
 .bg-gradient h3{
   
    text-align:left ;
    padding-top: 60px ; 
    padding-left: 50px;
    padding-right: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
 }

 .bg-gradient button{
    height: 40px;
   width: 110px;
   color: coral; 
  margin:20px 50px;
  font-size: 18px;
  font-weight: 500;
 }

 /* This is positive section  */
.positive {
    display: flex;
    margin: 50px 200px;
    text-align: center;
    padding-bottom: 30px;
}

.positive-girl {
    padding: 40px 30px 10px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    height: 230px;
}


.positive-girl h3 {
    text-align: left;
    padding: 10px;
    font-size: 30px;
}

.positive-girl p {
    font-size: 16px;
    padding-bottom: 14px;
    color: rgb(158, 152, 152);
    text-align: left;
}

.positive-girl button{
    width: 150px;
    height: 50px;
    background-color: rgb(236, 51, 76);
    border: 1px solid rgb(236, 51, 76);
    border-radius: 5px;
    color: white;
    font-size: 24px;
}

 .girl-image img{
    width: 400px;
    height:400px;
    padding: 0px 20px 10px;
    margin:0px 20px 10px;
    border-radius: 10px 100px / 120px;
}

 
 /* footer section start */

.footer{
    background-color: black;
    width: 100%;
    height: 450px;
       
}
 .future{
    display: flex;
    color: white;
    padding: 100px;

 }
 .future h2{
    font-size: 40px;
    font-weight: 600;
    
 }
 .future-area p{
    font-size: 18px;
    padding: 10px 350px 0 10px;
    color: rgb(194, 184, 184);

 }
 .future-area h6{
    font-size: 14px;
    padding: 10px 350px 0 10px;
    color: rgb(194, 184, 184);
 }
.future-logo {
    padding: 10px 350px 10px 10px;
}
.future-logo img{
    padding-top: 15px;
    padding-right: 15px;
}

.future-form h2{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}
.future-form input{
    width:300px;
    height: 40px;
    border-radius: 5px;
    color: rgb(233, 201, 201);
    border: 1px solid rgb(182, 160, 160);
    background-color: black;
    font-size: 20px;
    padding-left: 10px;

}
.future-form button{
    width:180px;
    height: 50px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(189, 57, 57);
}